{% extends 'NeonExchangeBundle::layout.html.twig' %}

{% block content %}
    <h2>Login</h2>
    {{ form_start(form, {'action': path('login_check')}) }}
        {{ form_errors(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password, {'type': 'password'}) }}

        <input type="submit" value="Login" class="btn btn-success">
    {{ form_end(form) }}
{% endblock %}